USE [master]
GO
/****** Object:  Database [M_OCD]    Script Date: 12/8/2021 11:06:00 AM ******/
CREATE DATABASE [M_OCD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'M_OCD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\M_OCD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'M_OCD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\M_OCD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [M_OCD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [M_OCD]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 12/8/2021 11:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomID] [nchar](10) NOT NULL,
	[Dom] [nchar](10) NOT NULL,
	[Floor] [int] NOT NULL,
	[Bed] [int] NOT NULL,
	[UsedBed] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Electricity] [int] NOT NULL,
	[Water] [int] NOT NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 12/8/2021 11:06:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [nchar](10) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[RoomID] [nchar](10) NOT NULL,
	[Checkin] [date] NOT NULL,
	[Checkout] [date] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Room] ([RoomID], [Dom], [Floor], [Bed], [UsedBed], [Price], [Electricity], [Water]) VALUES (N'A101      ', N'A         ', 1, 12, 5, 650000, 995000, 37000)
INSERT [dbo].[Room] ([RoomID], [Dom], [Floor], [Bed], [UsedBed], [Price], [Electricity], [Water]) VALUES (N'A102      ', N'A         ', 1, 12, 10, 650000, 663000, 39000)
INSERT [dbo].[Room] ([RoomID], [Dom], [Floor], [Bed], [UsedBed], [Price], [Electricity], [Water]) VALUES (N'A103      ', N'A         ', 1, 12, 10, 650000, 336000, 7000)
GO
INSERT [dbo].[Students] ([StudentID], [Name], [RoomID], [Checkin], [Checkout]) VALUES (N'HE150001  ', N'Nguyễn Trung Hiếu', N'A101      ', CAST(N'2021-09-07' AS Date), CAST(N'2021-12-31' AS Date))
INSERT [dbo].[Students] ([StudentID], [Name], [RoomID], [Checkin], [Checkout]) VALUES (N'HE150002  ', N'Đỗ Việt Long', N'A101      ', CAST(N'2021-09-10' AS Date), CAST(N'2021-12-31' AS Date))
INSERT [dbo].[Students] ([StudentID], [Name], [RoomID], [Checkin], [Checkout]) VALUES (N'HE150003  ', N'Tô Chính Hoàng', N'A101      ', CAST(N'2021-09-14' AS Date), CAST(N'2021-12-31' AS Date))
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Students]
GO
USE [master]
GO
